.contenedor-pri {
    display: flex;
    flex-direction: column;
    height: 100vh;

    mat-toolbar {
        flex-shrink: 1;
    }

    .caja-pri {
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        app-menu {
            display: flex;
            height: 100%;
            background: #ffffff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            z-index: 199;
        }

        .contenido {
            width: 100%;
        }
    }
}

.toolbar-inicio {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
        font-size: .9rem;
    }
}