<div class="cont_form_user">
    <app-header title="Editar usuario">
        <button mat-raised-button color="success" routerLink="/app/usuarios">Regresar</button>
    </app-header>
    <div class="caja-contenido">
        <div class="fondo_contendio">
            <div class="avatar-edit">
                @if(user.urlImage != ""){
                @if(loader){<div class="loader">loader</div>} @else {<img [src]="user.urlImage" alt="avatar"
                    class="avatar">}
                } @else {
                @if(loader){<div class="loader">loader</div>} @else {<img alt="avatar" src="{{img_user}}">}
                }
            </div>
            <form [formGroup]="formUser" (ngSubmit)="guardarUsuario()" class="user-form">
                @if(!usuarioId){
                <mat-form-field appearance="outline">
                    <mat-label>Correo corporativo:</mat-label>
                    <input matInput type="email" formControlName="userName" (blur)="incluirImagenAvatar($event)">
                    @if(formUser.hasError('invalidDomain', 'userName')){
                    <mat-error>
                        El correo debe ser del dominio "satrack.com"
                    </mat-error>
                    } @else if (formUser.hasError('required', 'userName')) {
                    <mat-error>
                        Este campo es requerido
                    </mat-error>
                    } @else if (formUser.hasError('invalidUserName', 'userName')) {
                    <mat-error>
                        El nombre de usuario no puede contener caracteres especiales ni numeros.
                    </mat-error>
                    } @else if (formUser.hasError('invalidFormat', 'userName')) {
                    <mat-error>
                        El correo electrónico no tiene un formato válido.
                    </mat-error>
                    } @else if (formUser.hasError('mailRegistered', 'userName')) {
                    <mat-error>
                        El correo electrónico ya se encuentra registrado.
                    </mat-error>
                    }
                </mat-form-field>
                } @else {
                <div class="inicio_user">
                    <p class="text-left">Usuario: <strong>{{user.userName}}</strong></p>
                    <button #change_password mat-raised-button [color]="color_btn_pss" (click)="newPassword()"
                        type="button">{{txt_btn_pss}}</button>
                </div>

                }


                <mat-form-field appearance="outline">
                    <mat-label> Nombre:</mat-label>
                    <input matInput type="text" formControlName="firstName">
                    @if(formUser.hasError('invalidText', 'firstName')){
                    <mat-error>
                        El nombre no puede contener números ni caracteres especiales
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Apellido:</mat-label>
                    <input matInput type="text" formControlName="lastName">
                    @if(formUser.hasError('invalidText', 'lastName')){
                    <mat-error>
                        El nombre no puede contener números ni caracteres especiales
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" [className]="clase_password">
                    <mat-label>Contraseña:</mat-label>
                    <input matInput type="text" formControlName="password">
                    <button (click)="changePassword()" matSuffix mat-icon-button
                        matTooltip="Generar contraseña aleatoria" aria-label="Ver contraseña" type="button">
                        <mat-icon>autorenew</mat-icon>
                    </button>

                    @if(formUser.hasError('requiredUpperCase', 'password')){
                    <mat-error>
                        la contraseña debe tener mínimo 1 mayúscula
                    </mat-error>
                    } @else if(formUser.hasError('requiredLowerCase', 'password')){
                    <mat-error>
                        la contraseña debe tener mínimo 1 minúscula
                    </mat-error>
                    } @else if(formUser.hasError('requiredNumber', 'password')){
                    <mat-error>
                        la contraseña debe tener mínimo un número
                    </mat-error>
                    } @else if(formUser.hasError('requiredSpecialCaracter', 'password')){
                    <mat-error>
                        la contraseña debe tener mínimo un cáracter especial
                    </mat-error>
                    } @else if(formUser.hasError('requiredLengthMin', 'password')){
                    <mat-error>
                        la contraseña debe ser de al menos 8 caracteres
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Rol:</mat-label>
                    <mat-select formControlName="roleId">
                        @for(item of listRoles; track item.roleId){
                        <mat-option [value]="item.roleId">{{ item.title }}</mat-option>
                        }
                    </mat-select>
                    @if (formUser.hasError('min', 'roleId')) {
                    <mat-error>
                        Es necesario que selecciones una opción
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Cargo:</mat-label>
                    <mat-select formControlName="positionId">

                        @for(item of listcargos; track item.positionId){
                        <mat-option [value]="item.positionId">{{ item.title }}</mat-option>
                        }

                    </mat-select>
                    @if (formUser.hasError('min', 'positionId')) {
                    <mat-error>
                        Es necesario que selecciones una opción
                    </mat-error>
                    }
                </mat-form-field>


                <button mat-raised-button color="primary" type="submit" [disabled]="loader">
                    @if(usuarioId != "" && usuarioId != undefined){
                    Actualizar
                    }
                    @else {
                    Guardar
                    }
                </button>
            </form>
        </div>

    </div>
</div>